/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#shop_field_container .title-label{
    font-size: 20px;
    margin-bottom: 10px !important;
    display: block;
    font-weight: bold;
}

#shop_field_container  #plugin-02_direction_name{
    width: 100%;
}

#shop_field_container  .list{
    list-style: none;
}